body {
    padding-top: 70px;
    background-color: #f2f2f2;
    font-family: Arial;
}
p {
    font-size:18px;
}
.margin{
    margin-bottom:45px;
}
body{
    /* The image used */
    background-image: url('../Slike/TAXI.jpg');
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#prijavaFrame{
      color:white
} 


container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar-nav li a:hover {
    color: #1abc9c !important;
}
